<h1>EUREKA!</h1>
<ul>
<!--  <li ng-repeat="article in articles">{{articles}}</li>-->
  <li *ngFor="let article of articles">
<!--    this only displays the whole array with incorrect values for type-->
    ARTICLE ID = {{article.id}},
    TITLE = {{article.title}},
    BOOK TYPE = {{article.bookType}},
    AUTHOR = {{article.author}},
    PRICE = {{article.price}},
    BOOK SUBJECT = {{article.subject}},
    BOOK SUMMARY = {{article.summary}},
    GENRE = {{article.genre}},
    ISBN = {{article.isbn}},
    PAGE COUNT = {{article.pageCount}},
    ARTICLE TYPE = {{article.articleType}},
    PUBLISHER ID = {{article.publisherId}}

  </li>
</ul>

