<h1>EUREKA!</h1>
<ul>
<!--  <li ng-repeat="article in articles">{{articles}}</li>-->
  <li *ngFor="let article of articles">
<!--    this only displays the whole array with incorrect values for type-->
    ID = {{article.id}},
    TITLE = {{article.title}},
    BOOKTYPE = {{article.bookType}},
    AUTHOR = {{article.author}},
    PRICE = {{article.price}},
    DESCRIPTION = {{article.bookDescription}},
    GENRE = {{article.genre}},
    ISBN = {{article.isbn}},
    PAGECOUNT = {{article.pageCount}},
    ARTICLETYPE = {{article.articleType}},
    PUBLISHERID = {{article.publisherId}}

  </li>
</ul>

